<ion-header>
  <ion-toolbar>
    <ion-title>trackRequest</ion-title>
  </ion-toolbar>
  <ion-tab-bar slot="bottom" color="success" style="border: none;border-top-left-radius: 19px;
  border-top-right-radius: 19px;">
    <ion-tab-button tab="home">
        <img  src="../assets/icon/home.png" alt="" class="footerIcon">
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trackRequest">
        <img  src="../assets/icon/tracking.png" alt="" class="footerIcon">
      <ion-label>TrackRequest</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
        <img  src="../assets/icon/settings.png" alt="" class="footerIcon">
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logout" [routerLink]="['/login']" >
        <img  src="../assets/icon/logout.png" alt="" class="footerIcon">
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-header>

<ion-content>

</ion-content>
