.show{
    // background-color: transparent  !important;
    // box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    // background-image: url("../assets/images/tool.png")!important; background-size: cover;
    --background: url(./assets/images/bg1.jpg);
    --background-repeat: no-repeat;
    --background-size: cover;  
}