<ion-header>
  <ion-toolbar color='primary'>
    <img src="../assets/logo/screen_logo.png" alt="IAMS" class="ToolbarLogo">
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="ion-text-center">
    <p class='Heading'> MY PENDING REQUEST</p>
     
  </div>

  <ion-grid>
    <ion-row *ngFor=' let cou of count'>
      <ion-col size-md="6" offset-md="3">
        <div class='expandRequest'>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, ea. Totam fugit dolor perspiciatis, deserunt quo dolorem quae nostrum inventore excepturi maxime recusandae non assumenda in odio alias corrupti minus.
        </div>

      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>