<ion-header>
  <ion-toolbar color='primary'>
    <img src="../assets/logo/screen_logo.png" alt="IAMS" class="ToolbarLogo">
  </ion-toolbar>
</ion-header>

<ion-content>
<div class='expandRequest'>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aut velit rerum, assumenda id placeat! Omnis quo voluptatum accusamus aperiam, autem recusandae qui eos perferendis cumque libero quam a. Assumenda!
</div>
</ion-content>
