
.Heading{
    font-size: 18px;
    color: #083B66;
    font-weight: bold;
    font-family: Sitka Heading;

}

.ion-text-justify{
    text-align: justify !important;
    font-family: Roboto;
    font-size: 15px;
}


.expandRequest{
    
    min-height: 79px !important;
    background-color: #e4e4e475;

}
.expandRequestFake{
    
    min-height: 83px !important;
    background-color: #E4E4E4;

}
.pfake{
    background-color: #d2d0cd;
    width: 173px;
    height: 15px;
    margin-left: 16px;
    position: relative;
    top: 13px;
}
.p2fake{
    background-color: #d2d0cd;
    width: 143px;
    height: 15px;
    margin-left: 17px;
    position: relative;
    top: 22px;
}
.p3fake{
    background-color: #d2d0cd;
    width: 101px;
    height: 15px;
    margin-left: 225px;
    position: relative;
    top: -9px;
}
