<ion-header>
  <ion-toolbar color='primary'>
    <img src="../assets/logo/screen_logo.png" alt="IAMS" class="ToolbarLogo">
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="ion-text-center">
    <p class='Heading'> MY PENDING REQUEST</p>

  </div>
  <!-- <div *ngFor="let d of dummyData">

    {{d.accessType}}
  </div> -->
  <ion-grid>
    <ion-row *ngFor="let d of dummyData">
      <ion-col size-md="6" offset-md="3">
        <div >

          <toggle-content [accessType]="d.accessType" [transactionNum]="d.transactionNumber"
            [dateAndTime]="d.dateAndTime">

         


            <div class="discription" >
              {{d.description}}
              <br><br>
            </div>
          </toggle-content>

        </div>

      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>