.ToolbarLogo{
    width: 90px;
    height: 90px;
    margin-left: 62px;
    margin-top: -15px;
    margin-bottom: -17px;
}
ion-toolbar{
    height: 68px;
}
.expandRequest{
    
    min-height: 73px;
    background-color: #E4E4E4;

}
.Heading{
    font-size: 18px;
    color: #083B66;
    font-weight: bold;
    font-family: Sitka Heading;

}
ion-grid{
    margin-top: 20px;
}
.accessHeading{
    display: inline-block;
    color: #E78200;
    font-family: Arial Unicode MS;
    position: relative;
    left: 16px;
    top: 10px;
}
.accessTransNo{
    display: inline-block;
    position: relative;
    right: 156px;
    top: 41px;
    font-weight: bold;
    font-size: 13px;
}
.accessDate{
    text-align: end !important;
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    color: #243D5B;
    padding-right: 14px;
    margin-top: 27px;
}
.icon{
    text-align: end !important;
    position: relative;
    top: -45px;
    padding-right: 10px;
}
.discription{
    text-align: center
}