<ion-header>
  <ion-toolbar color='primary'>
    <img src="../assets/logo/screen_logo.png" alt="IAMS" class="ToolbarLogo">
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <label class="ion-text-center">
          gary
        </label>


  <ion-grid>
    <ion-row *ngFor=' let cou of count'>
      <ion-col size-md="6" offset-md="3">
        <div class='expandRequest'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>

      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>