<ion-header>
  <ion-toolbar color='primary'>
    <img src="../assets/logo/screen_logo.png" alt="IAMS" class="ToolbarLogo">
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="ion-text-center">
    <p class='Heading'> MY PENDING REQUEST</p>

  </div>
  <!-- <div *ngFor="let d of dummyData">

    {{d.accessType}}
  </div> -->
  <ion-grid>
    <ion-row *ngFor="let d of dummyData">
      <ion-col size-md="6" offset-md="3">
        <div class='expandRequest'>


          <label class="accessHeading">{{d.accessType}}</label>
          <label class="accessTransNo">Transaction no {{d.transactionNumber}}</label>
          <div class="accessDate">{{d.dateAndTime}}</div>
          <div class="icon" (click)="ele.class = ele.class == 'showChildren' ? '' :  'showChildren'"  
          #ele>
            <ion-icon [name]="expandContent ? 'arrow-down' : 'arrow-up' "></ion-icon>
          </div>


          <div class="discription" *ngIf="!expandContent">
            {{d.description}}
            <br><br>
          </div>





        </div>

      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>