<ion-header>
  <ion-toolbar color='primary'>
    <img src="../assets/logo/screen_logo.png" alt="IAMS" class="ToolbarLogo">
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="ion-text-center">
    <p class='Heading'> MY PENDING REQUEST</p>

  </div>

  <ion-grid>
    <ion-row *ngFor=' let cou of count'>
      <ion-col size-md="6" offset-md="3">
        <div class='expandRequest'>


          <label class="accessHeading">{{dummyData?.accessType}}</label>
          <label class="accessTransNo">{{dummyData?.}}</label>
          <div class="accessDate">12:05 PM May 2019</div>
          <div class="icon" (click)="onClickExpand()">
            <ion-icon [name]="expandContent ? 'arrow-down' : 'arrow-up' "></ion-icon>
          </div>
          <div class="discription" *ngIf="!expandContent">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, cum nemo sunt necessitatibus fuga
            corrupti quasi sint ipsum.
            <br><br>
          </div>



        </div>

      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>