.ToolbarLogo{
    width: 90px;
    height: 90px;
    margin-left: 62px;
    margin-top: -15px;
    margin-bottom: -17px;
}
ion-toolbar{
    height: 68px;
}

.Heading{
    font-size: 18px;
    color: #083B66;
    font-weight: bold;
    font-family: Sitka Heading;

}
ion-grid{
    margin-top: 20px;
}

.icon{
    text-align: end !important;
    position: relative;
    top: -45px;
    padding-right: 10px;
}
.discription{
    padding-left: 17px;
}
.hideChildren>div{
    display: none;
 }
 .discriptionA{
    position: relative;
    top: 62px; 
 }