@media screen and (min-width: 0px) and (max-width: 400px) {
    .lasnScape{
      display: none;
    }
  }
  
  @media screen and (min-width: 401px) and (max-width: 1024px) {
    .portrait{
      display: none;
    }
  }