.ion-text-center{
    color: #E78200;
    font-size: 16px;
}
.ion-float-left{
    float: left !important;
    color: black;
    font-weight: bold;
    font-family: Arial;
}
.ion-float-right{
    color: #243D5B;
    font-weight: bold;
    font-family: Arial;
}
.ion-text-justify{
    text-align: justify !important;
    font-family: Roboto;
    color: #707070;
}
ion-card{
    background-color: #e4e4e475;
}
ion-button{
    height: 34px;
    width: 88px;
}
.custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }