.ion-float-left{
    float: left !important;
    color: #E78200;
    font-family: Roboto;
}
.dateAndTime{
    color: #243D5B;
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
}
.ion-text-right, [text-right] {
    text-align: right !important;
    margin-top: -66px;
}