<div class='expandRequest' (click)="toggle()">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-float-left" size="7">


   



      </ion-col>
      <ion-col class="ion-float-right">

        <div text-right>
          <ion-icon [name]="visible ? 'arrow-up' : 'arrow-down' "></ion-icon>
        </div>
      </ion-col>
      <br><br>
    </ion-row>

    <ion-row>
      <ion-col class="dateAndTime">
     
      </ion-col>
    </ion-row>
  </ion-grid>




  <ng-content *ngIf="visible">
  </ng-content>
</div>