<div>
  <ng-content>
      <label class="accessHeading">{{d.accessType}}</label>
      <label class="accessTransNo">Transaction no {{d.transactionNumber}}</label>
      <div class="accessDate">{{d.dateAndTime}}</div>
  </ng-content>
  
</div>