.accessHeading{
    display: inline-block;
    color: #E78200;
    font-family: Arial Unicode MS;
    position: relative;
    left: 16px;
    top: 10px;
}
.accessTransNo{
    display: inline-block;
    position: relative;
    right: 156px;
    top: 41px;
    font-weight: bold;
    font-size: 13px;
}
.accessDate{
    text-align: end !important;
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    color: #243D5B;
    padding-right: 14px;
    margin-top: 27px;
}