.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 168px;
}
ion-label{
  flex: 0 0 35px;
  width: 100px;
  min-width: 0;
}
.sc-ion-label-md-h sc-ion-label-md-s md label-fixed hydrated{
  
}