.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 168px;
}

.username,.password{
  flex: 0 0 33px;
    min-width: 0;
  
}
ion-item{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
}
.button{
  
}