.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 168px;
}

.username,.password{
  flex: 0 0 33px;
    min-width: 0;
  
}
ion-item,.button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
}
// // .passwordIcon{
// //   font-size:2rem !important;
// //   position: relative !important;
// //   top: 22px !important;
// //   margin: 0 auto !important;
// // }