.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 168px;
}

.username,.password,.forgetPass{
  flex: 0 0 33px;
    min-width: 0;
  
}
ion-item,.button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
}
.passwordIcon{
  width: 19px;
  height: 19px;
}