<ion-content>
  <form [formGroup]>

  
  <ion-grid>
    <ion-row>
      <br><br>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../assets/images/logo.png" alt="IAMS" class="logo">
      </ion-col>
    </ion-row>
    <br>
    <br>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed" class="username">
            <ion-icon name="person"></ion-icon>
          </ion-label>
          <ion-input  ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 13px;">
      <ion-col>
        <ion-item>
          <ion-label position="fixed" class="password">
            <ion-icon name="lock"></ion-icon>
          </ion-label>
          <ion-input ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <br>
    <ion-row style="margin-top: 13px;">
      <ion-col>

        <ion-button  color="light" class="button" expand="block" (click)="onClick()">LOGIN</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>
</ion-content>