<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="data">

  </div>

  <!-- Skeleton screen -->
  <div *ngIf="!data">


    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="expandRequest">
            <ion-grid>
              <ion-row>
                <ion-col class="accessType">
                  <ion-skeleton-text animated style="width: 171.31px;height: 16px;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="dateAndTime">
                  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                </ion-col>
              </ion-row>
            </ion-grid>


          </div>
        </ion-col>
      </ion-row>


    </ion-grid>






  </div>
</ion-content>