<ion-content>
<ion-grid>
  <br><br>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating" style="font-size: 14px">Current Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating" style="font-size: 14px">New Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating" style="font-size: 14px">Re-type New Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <br>
  <ion-row>
    <ion-col>
        <ion-button color="light" type="submit" class="savebutton" expand="block">SAVE</ion-button>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col>
      <div class="forgetPass" [routerLink]="['/forget-password']" >Forget Password ? </div>
    </ion-col>
  </ion-row>

<br><br>
  <ion-row>
    <ion-col>
      <div style="font-size: 10px;text-align: center;">Once the password is successfully changed, you will need to login again </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
