.savebutton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 265px;
}
.forgetPass{
    font-size: 13px;
    color: #1761a0;
    text-align: center;
}
ion-item{
    width: 306px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ion-label{
    font-size: 14px;
}