// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  ion-tab-button.tab-selected {
    ion-icon, ion-label {
      color: var(--ion-color-tertiary) !important;
      --ion-color-base: var(--ion-color-tertiary) !important;
    }
  }
  /** primary **/
  --ion-color-primary: #376787;
  --ion-color-primary-rgb: 55,103,135;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #305b77;
  --ion-color-primary-tint: #4b7693;


  /** secondary **/
  --ion-color-secondary: #1761A0;
  --ion-color-secondary-rgb: 23,97,160;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #14558d;
  --ion-color-secondary-tint: #2e71aa;

  /** tertiary **/
  --ion-color-tertiary: #E78200;
  --ion-color-tertiary-rgb: 231,130,0;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #cb7200;
  --ion-color-tertiary-tint: #e98f1a;

  /** success **/
  --ion-color-success: #edefee;
  --ion-color-success-rgb: 237,239,238;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #d1d2d1;
  --ion-color-success-tint: #eff1f0;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #296b9c;
  --ion-color-danger-rgb: 41,107,156;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #245e89;
  --ion-color-danger-tint: #3e7aa6;
  
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #2d70a8;
  --ion-color-medium-rgb: 45,112,168;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #286394;
  --ion-color-medium-tint: #427eb1;

  /** button **/
  --ion-color-light: #1761A0;
  --ion-color-light-rgb: 23,97,160;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #14558d;
  --ion-color-light-tint: #2e71aa;
}
