<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating" class="textColor">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Mobile No</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Department</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Designation</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>