<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <img *ngIf="!photoService.photos"  class="fakeImage"  src="../assets/images/profile.png" alt="">
        <div *ngFor="let photo of photoService.photos">

          <img [src]="photo.data" class="image" />

        </div>
        <ion-item lines="none">
          <ion-label text-center style="font-size: 12px;">
            <div style="text-decoration:none;color: #1761A0;" [routerLink]="['/edit-profile']">
              Edit
            </div>
            <!-- <a href="javascript:;" style="text-decoration:none;color: #1761A0;" (click)="openCam()">Edit</a> -->
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label text-center style="font-size: 12px;">
            <a href="javascript:;" style="text-decoration:none;color: #1761A0;">Edit</a>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <div text-center class="name">
          Gary Glitter Charles
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" class="textColor">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" class="textColor">Mobile No</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" class="textColor">Department</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" class="textColor">Designation</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>