<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Floating Label</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>